
<div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="1rem">
  <button (click)="fetchData()">刷新数据</button>

  <mat-form-field >
    <input matInput type="number" [(ngModel)]="dataRefreshRateSec" placeholder="数据刷新率(秒)">
  </mat-form-field>

  <mat-checkbox [(ngModel)]="autoRefresh">自动刷新数据</mat-checkbox>
</div>


<div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="1rem">
  <mat-checkbox *ngFor="let columnName of allColumns" [checked]="checkColumn(columnName)" (click)="toggleColumn($event,columnName)" style="margin-left: 1rem">{{columnName}}</mat-checkbox>
</div>

<div fxLayout="row"  fxLayoutAlign="flex-start center" fxLayoutGap="1rem">
  <mat-form-field fxFlex="10%">
    <input matInput type="text" (keyup)="descriptionFilter($event.target.value)" placeholder="描述过滤">
  </mat-form-field>

  <mat-form-field fxFlex="10%">
    <input matInput type="number" (change)="updateDataSource()" [(ngModel)]="priceLowerBound" placeholder="菜价过滤(高于xx价格)">
  </mat-form-field>
  {{priceLowerBound}}

  <mat-form-field fxFlex="10%">
    <input matInput type="number" (change)="updateDataSource()" [(ngModel)]="queueUpperBound" placeholder="队列过滤(低于xx人)">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="text-center w-6"> 岛主 </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="fruit">
    <th mat-header-cell *matHeaderCellDef class="text-center w-3"> 水果种类 </th>
    <td mat-cell *matCellDef="let element"> {{element.fruit}} </td>
  </ng-container>

  <ng-container matColumnDef="turnipPrice">
    <th mat-header-cell *matHeaderCellDef class="text-center w-3" mat-sort-header> 菜价 </th>
    <td mat-cell *matCellDef="let element"> {{element.turnipPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="turnipCode">
    <th mat-header-cell *matHeaderCellDef class="text-center w-5"> turnipCode </th>
    <td mat-cell *matCellDef="let element"> {{element.turnipCode}} </td>
  </ng-container>

  <ng-container matColumnDef="commerce">
    <th mat-header-cell *matHeaderCellDef class="text-center w-5"> commerce </th>
    <td mat-cell *matCellDef="let element"> {{element.commerce}} </td>
  </ng-container>

  <ng-container matColumnDef="hemisphere">
    <th mat-header-cell *matHeaderCellDef class="text-center w-3"> 半球 </th>
    <td mat-cell *matCellDef="let element"> {{element.hemisphere}} </td>
  </ng-container>

  <ng-container matColumnDef="islandTime">
    <th mat-header-cell *matHeaderCellDef class="text-center w-6"> 岛上时间 </th>
    <td mat-cell *matCellDef="let element"> {{element.islandTime | date}} </td>
  </ng-container>

  <ng-container matColumnDef="creationTime">
    <th mat-header-cell *matHeaderCellDef class="text-center w-5"> 建房时间 </th>
    <td mat-cell *matCellDef="let element"> {{element.creationTime | date}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> 描述 </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="queued">
    <th mat-header-cell *matHeaderCellDef class="text-center w-3" mat-sort-header> 排队人数 </th>
    <td mat-cell *matCellDef="let element"> {{element.queued}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-shade"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="selectable-table-row"
      style="cursor: pointer"
      (click)="goTo(row.turnipCode)"
  ></tr>
</table>
